<a href="https://colab.research.google.com/github/s2t2/tweet-analysis-2021/blob/main/notebooks/Big_Query_Connection_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook demonstrates how to query a BigQuery database directly from a Colab notebook.

# Setup

## Mounting the Drive

In [74]:
import os

from google.colab import drive

drive.mount('/content/drive')
print(os.listdir(os.getcwd()))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
['.config', 'drive', 'sample_data']

In [75]:
DIRPATH = '/content/drive/My Drive/Research/Tweet Analysis 2021'
print(DIRPATH)
os.path.isdir(DIRPATH)

/content/drive/My Drive/Research/Tweet Analysis 2021

True

## Configuring Credentials

In [76]:
# google.cloud checks the file at path designated by the GOOGLE_APPLICATION_CREDENTIALS env var
# so we set it here using the shared credentials JSON file from our shared google drive
# and verify it for good measure

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = os.path.join(DIRPATH, "credentials", "tweet-research-shared-268bbccc0aac.json") 

GOOGLE_APPLICATION_CREDENTIALS = os.getenv("GOOGLE_APPLICATION_CREDENTIALS") # implicit check by google.cloud
print(GOOGLE_APPLICATION_CREDENTIALS) # verification for implicit check
print(os.path.isfile(GOOGLE_APPLICATION_CREDENTIALS)) # verification for implicit check

/content/drive/My Drive/Research/Tweet Analysis 2021/credentials/tweet-research-shared-268bbccc0aac.json
True

# Helpers

### BigQuery Service

In [77]:

from google.cloud import bigquery

class BigQueryService():
    def __init__(self):
        self.client = bigquery.Client()

    def execute_query(self, sql, verbose=True):
        if verbose == True: 
            print(sql)
        job = self.client.query(sql)
        return job.result()

In [78]:
bq_service = BigQueryService()
print(bq_service)

<__main__.BigQueryService object at 0x7f5a75766e80>

## Number Decorators

In [79]:
def fmt_n(large_number):
    """
    Formats a large number with thousands separator, for printing and logging.

    Param large_number (int) like 1_000_000_000

    Returns (str) like '1,000,000,000'
    """
    return f"{large_number:,.0f}"

# Usage

## Querying the Disinformation Tweets Table

Counting number of users and tweets:

In [80]:
print("------------")
print("QUERY:")
sql = """
    SELECT 
        count(distinct status_id) as status_count 
        ,count(distinct user_id) as user_count
    FROM `tweet-research-shared.disinfo_2021.tweets_view` t
"""

results = list(bq_service.execute_query(sql, verbose=True))
results = dict(results[0])
print("------------")
print("RESULTS...")
print("TWEETS:", fmt_n(results["status_count"]))
print("USERS:", fmt_n(results["user_count"]))

------------
QUERY:

    SELECT
        count(distinct status_id) as status_count
        ,count(distinct user_id) as user_count
    FROM `tweet-research-shared.disinfo_2021.tweets_view` t

------------
RESULTS...
TWEETS: 1,075,351
USERS: 349,590

Fetching some example tweets:

In [81]:
print("------------")
print("QUERY:")
sql = """
    SELECT *
    FROM `tweet-research-shared.disinfo_2021.tweets_view` t
    LIMIT 10
"""

records = [dict(row) for row in list(bq_service.execute_query(sql, verbose=True))]
print("------------")
print("RESULTS:" , len(records))

------------
QUERY:

    SELECT *
    FROM `tweet-research-shared.disinfo_2021.tweets_view` t
    LIMIT 10

------------
RESULTS: 10

In [82]:

from pandas import DataFrame

df = DataFrame(records)
df

             status_id  ...           user_created_at
0  1354593218223104003  ... 2016-05-03 23:16:27+00:00
1  1354552038873575426  ... 2016-02-10 15:29:46+00:00
2  1354516279483371522  ... 2014-10-27 11:22:39+00:00
3  1354519570334117888  ... 2009-11-14 17:55:52+00:00
4  1354577795175903236  ... 2021-01-12 03:47:01+00:00
5  1354556968514404352  ... 2014-06-17 19:52:59+00:00
6  1354556633708302341  ... 2018-03-25 02:03:43+00:00
7  1354558578963738626  ... 2017-01-14 13:07:03+00:00
8  1354536363673194498  ... 2017-07-28 00:15:26+00:00
9  1354557626873311233  ... 2008-09-19 18:53:15+00:00

[10 rows x 18 columns]

In [83]:
df.columns.tolist()

['status_id',
 'status_text',
 'truncated',
 'retweeted_status_id',
 'retweeted_user_id',
 'retweeted_user_screen_name',
 'reply_status_id',
 'reply_user_id',
 'is_quote',
 'geo',
 'created_at',
 'user_id',
 'user_name',
 'user_screen_name',
 'user_description',
 'user_location',
 'user_verified',
 'user_created_at']

In [84]:
df.dtypes

status_id                                  object
status_text                                object
truncated                                    bool
retweeted_status_id                        object
retweeted_user_id                          object
retweeted_user_screen_name                 object
reply_status_id                            object
reply_user_id                              object
is_quote                                     bool
geo                                        object
created_at                    datetime64[ns, UTC]
user_id                                    object
user_name                                  object
user_screen_name                           object
user_description                           object
user_location                              object
user_verified                                bool
user_created_at               datetime64[ns, UTC]
dtype: object

In [85]:
df.iloc[0]

status_id                                                   1354593218223104003
status_text                   RT @BigBlueWaveUSA: #MarjorieTaylorGreene is e...
truncated                                                                 False
retweeted_status_id                                         1354592005645451266
retweeted_user_id                                            979212105533440000
retweeted_user_screen_name                                       BigBlueWaveUSA
reply_status_id                                                            None
reply_user_id                                                              None
is_quote                                                                  False
geo                                                                        None
created_at                                            2021-01-28 00:52:45+00:00
user_id                                                      727637976377864192
user_name                                                                  DREW
user_screen_name                                                    drew4711700
user_description                  ABOLITIONIST $DREW1700  Iraq War VET/WARHORSE
user_location                                                      IN THE WORLD
user_verified                                                             False
user_created_at                                       2016-05-03 23:16:27+00:00
Name: 0, dtype: object